.card{
    margin :auto;
    margin-top: 20px;
    width:350px;
    background-color: rgb(35, 41, 41);
}
.profile{
    width: 200px;
}
.heading img{
    width: 80px;
    border-radius: 50%;
}
.heading{
    display: flex;
    flex-wrap: wrap;
}
.heading .card-title{
    margin-top: 15px;
    margin: auto;
}